.contact__container {
     display: flex;
     flex-direction: column;
     align-items: center;
}
.contact__header {
    font-size: 6rem;
    font-weight: 100;
    margin-bottom: 2rem;
    margin-top: 5rem;
}
.contact__form {
    width: 50%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5rem;
}
.contact__input__section {
    width: 100%;
    display: flex;
}
.contact__item__double {
    width: 47%;
    margin-top: .5rem;
    margin-bottom: .5rem;
    padding: .25rem;
    border-top: none;
    border-right: none;
    border-left: 2px solid black;
    border-bottom: 2px solid black;
    font-size: inherit;
}
.contact__item__single {
    border-top: none;
    border-right: none;
    border-left: 2px solid black;
    border-bottom: 2px solid black;
    width: 100%;
    font-family: inherit;
    font-size: inherit;
}
.contact__submit__button {
    background-color: transparent;
    border: 2px solid black;
    padding: .25rem 1.75rem;
    margin-top: .5rem;
    width: 200px;
}
.contact__input__section .contact__item__double:nth-of-type(1) {
    margin-right: .5rem;
}
.contact__input__section .contact__item__double:nth-of-type(2) {
    margin-left: .5rem;
}
.captcha__container {
    display: flex;
    justify-content: center;
    margin: 1rem 0 .5rem 0;
    align-items: center;
}
.captcha__input {
    margin-left: .25rem;
    border: 2px solid black;
    padding: .25rem;
    width: 20px;
    font-size: inherit;
}

@media screen and (max-width: 690px) {
    .contact__form {
        width: 70%;
    }
    
}
@media screen and (max-width: 530px) {
    .contact__form {
        width: 90%;
    }
}