.hero__container {
    position: relative;
    overflow-x: hidden;
}
.hero__background {
    position: absolute;
    width: 100vw;
    z-index: -1;
    position: absolute;
    height: 300px;
    background-image: url("../../images//rectangles.svg");
    background-repeat: no-repeat;
    background-position: center;
}
.hero__container h2 {
    font-size: 7rem;
    font-weight: 100;
    text-align: center;
    padding-top: 2rem;
}
.hero__container h3 {
    text-align: center;
    font-size: 1.5rem;
    margin-top: 1rem;
}
.typed__styling {
    width: 100%;
    border: none;
    background-color: transparent;
    text-align: center;
    font-size: 1.5em;
    color: darkgrey;
}
@media screen and (max-width: 1382px) {
    .hero__background {
        top: -50px;
    }
    .hero__container h2 {
        font-size: 6rem;
    }
}
@media screen and (max-width: 860px) {
    .hero__background {
        top: -100px;
        font-size: 3rem;
    }
}

@media screen and (max-width: 435px) {
    .hero__container h2 {
        font-size: 4rem;
    }
    .typed__styling {
        font-size: 1.2rem;
    }
    .hero__background {
        top: -150px;
        height: 300px;
    }
}