.home__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 10em;
}
.home__container__section {
    display: flex; 
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.home__container__item {
    margin-left: 2em;
    padding-left: 2em;
}
.home__container__item h2 {
    font-size: 6rem;
    font-weight: 100;
    margin-bottom: 2rem;
}
.home__container__item h3 {
    font-size: 1.4rem;
    color:  #00FDDC;
}
.home__container__item p {
    line-height: 25px;
    font-size: 1.2rem;
    max-width: 450px;
}
.home__mockup {
    height: 500px;
    padding-right: 2em;
}
.home__container__section:nth-of-type(2) {

}
.home__skills__container {
    display: flex;
    flex-direction: row;
}