.home__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 10em;
}
.home__container__section {
    display: flex; 
    align-items: center;
    justify-content: center;
}
.home__container__item {
    margin-left: 2em;
    padding-left: 2em;
}
.home__container__item h2 {
    font-size: 6rem;
    font-weight: 100;
    margin-bottom: 2rem;
}
.home__container__item h3 {
    font-size: 1.4rem;
    color:  #00FDDC;
}
.home__container__item p {
    line-height: 25px;
    font-size: 1.2rem;
    max-width: 450px;
}
.home__mockup {
    height: 500px;
    padding-right: 2em;
}
.home__container__section:nth-of-type(2) {
    margin-top: 8rem;
    display: flex;
    flex-direction: column;
    margin-bottom: 6rem;
}
.home__skills__header {
    margin-bottom: 3rem;
    display: flex;
    flex-direction: column;
}
.home__skills__container {
    display: flex;
    flex-direction: row;
    width: 65%;
    justify-content: space-between;
}
.home__school__divider {
    height: 1px;
    width: 100px;
    margin: 0 1rem;
    background-color: lightgrey;
}

@media screen and (max-width: 900px) {
    .home__container__section {
        flex-direction: column;
        flex-direction: column-reverse;
    }
    .home__container__item h3, h2, p {
        text-align: center;
    }
    .home__container__item {
        margin-bottom: 4rem;
        margin-left: 0;
        padding-left: 0;
    }
    .home__mockup {
        padding-right: 0;
    }
    .home__skills__container {
        flex-direction: column;
        align-items: center;
    }
    .skill__container {
        margin: .5rem 0 .5rem;
    }
}
@media screen and (max-width: 500px) {
    .home__container__item {
        margin-left: .5rem;
        margin-right: .5rem;
        margin-top: 0rem;
    }
    .home__container {
        margin-top: 5rem;
    }
}
@media screen and (max-width: 405px) {
    .home__mockup {
        height: 350px;
        width: auto;
    }
}
@media screen and (max-width: 435px) {
    .home__container__item h2, .home__skills__header {
        font-size: 3rem;
    }

}